{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="eliot_500px_div">
        <div class="mb-5">
            <h4>Create Project</h4>
        </div>
        <form action="{% url 'projectapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--            {{ form }}-->
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-5 mt-4" value="제출">
        </form>
    </div>

{% endblock %}