.eliot_footer_logo{
    font-family: 'Gloria Hallelujah', cursive;
}

.eliot_footer_button{
    font-size: .6rem;
    margin-top: 2rem;
}

.eliot_header_logo{
    text-align: center;
    margin: 2rem 0;
    font-family: 'Gloria Hallelujah', cursive;
}