{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="eliot_500px_div">
        <div class="mb-5">
            <h4>Profile Create</h4>
        </div>
<!--이미지를 받기 위해서 enctype이 꼭 필요-->
        <form action="{% url 'profileapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-5 mt-4" value="제출">
        </form>
    </div>

{% endblock %}